---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero.svg";
---

<Section id="home">
    <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
      <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
          <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left">Route, Ride, <br> Record, <br> Reminisce</h1>
          <p class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12">Your Ultimate Motorcycling Companion. Experience effortless ride planning, dynamic group coordination, and the joy of reliving your adventures—RideSense simplifies every step of your motorcycle journey.</p>
          <div class="w-full justify-center md:justify-start items-center inline-flex">
            <a href="#" class="px-8 py-5 bg-[#1557E7] hover:bg-[#4178eb] active:bg-white active:text-[#1557E7] rounded-2xl text-center text-white border-[#1557E7] border transition-colors duration-300 text-xl font-normal leading-7">Start Your Journey Today - Join beta testing</a>
          </div>
        </div>
      </div>
      <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <Image src={HeroIlust} alt="Motorcycle Journey Illustration" loading="eager" />
      </div>
    </div>
  </Section>