---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F8F9FE] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">Ready to hit the road?</h2>
        <p>
          Join our beta testing program today and be among the first riders to experience 
          the future of motorcycle journey planning and community building.
        </p>
        <button class="px-8 py-5 bg-[#1557E7] hover:bg-[#4178eb] active:bg-white active:text-[#1557E7] rounded-2xl text-center text-white border-[#1557E7] border transition-colors duration-300 text-xl font-normal">Start your journey</button>
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="Motorcycle journey illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>