---
import MainLayout from "../layouts/MainLayout.astro";
import Process from "@/components/sections/Process.astro";
---

<MainLayout title="Frequntly Asked Questions">
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <Process />
        </div>
	</main>
</MainLayout>