---
import Accordion from "../components/ui/Accordion.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Frequently Asked Questions">
	<main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <Accordion/>
        </div>
	</main>
</MainLayout>