---
interface LogoProps {
    className?: string;
    imageClassName?: string;
    textClassName?: string;
}

const { className = "", imageClassName = "", textClassName = "" } = Astro.props as LogoProps;
---

<div class={`flex justify-center items-center ${className}`}> 
    <img 
        src="/logo.png" 
        alt="RideSense Logo" 
        width="50" 
        height="50" 
        class={`mr-2 ${imageClassName}`}
    />
    <span class={`font-['Satoshi']  text-3xl font-bold text-black ${textClassName}`}>
        RideSense
    </span>
</div>
